<div class="mt">
    <div class="row">
        <div class="col-lg-3">
            <button>Học Ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>Xây dựng web với nodejs</h2>

        </div>
    </div>
</div>